.idea/

Stage0/bin/
Stage0/build/

Stage1/bin/
Stage1/build/
Stage1/test/bin/
Stage1/test/build/

Stage2/bin/
Stage2/build/
Stage2/test/bin/
Stage2/test/build/
Stage2/test/valgrind_logs/

Stage3/bin/
Stage3/build/
Stage3/test/bin/
Stage3/test/build/
Stage3/test/valgrind_logs/
Stage3/test/compute-sanitizer_logs/